
body {font-size: 20px;
  color: white;

  }

  header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
  }
    nav ul {
      list-style-type: none;
      padding: 0;
  }
  
  nav ul li {
      display: inline;
      margin-right: 20px;
  }
  
  
  nav ul li a {
      color: white;
      text-decoration: none;
  }
  
  button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #636060;form {
      color: #ffffff;
     
     }
    box-shadow: inset 0 0 0 0 #525252;
  }
  
  button:hover {
    color: rgb(0, 0, 0);
    box-shadow: inset 0 -100px 0 0 #424241;
  }
  
  button:active {
    transform: scale(0.9);
  }
  
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    color: rgb(255, 255, 255);
    font-size: 25px;
   
  }
.texto {
    font-size:45px; 
   
}

h2{

  font-size: 25;
}

.formulário {
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 0, 0);
  margin: 20px;

}

footer {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 0;
}

